html {
  font-size: 66%;
  color: $color-gray;
  font-family: "Roboto", sans-serif;
  line-break: 1;
  font-weight: 400;

  @include responsive(desktops) {
    font-size: 90%;
  }
  @include responsive(laptos-sm-desktops) {
    font-size: 70%;
  }
  @include responsive(tablets-ipads) {
    font-size: 100%;
  }
  @include responsive(tablets-ipads-landscape) {
    font-size: 90%;
  }

  @include responsive(low-resolution-tablets-mobiles-landscape) {
    font-size: 60%;
  }
  @include responsive(smartphones-general) {
  }
  @include responsive(small-smartphones) {
    font-size: 60%;
  }

  @include responsive(small-smartphones-landscape) {
    font-size: 40%;
  }
}

body {
  font-size: 1.4rem;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
p {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.45rem;
  font-weight: 400;
}
p {
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.text-yellow {
  color: $color-yellow;
}
