// Linear gradientes
$bg-gradient:linear-gradient(#6745a6,#0f082c);
$color-yellow: #fce406;
$color-purple: #3b3068;
$color-gray:#f3f3f3;
$color-deepgray: #5b5b5b;
$color-white:#ffffff;
$color-red:#ce2828;
$color-green:#33af5a;
$color-black:#000000;