header{
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background:#ffffff;
    border-top: 1px solid #eeeeee;
    z-index: 9999;
}
#navbar{
    width: 100%;
    height: 100%;
    background:#ffffff;
    border-top: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding:0 1.5rem;

   @include responsive(desktops){
    padding: 0 20rem;
  }
  @include responsive(laptos-sm-desktops){
    padding: 0 20rem;
  }
  @include responsive(tablets-ipads){
    padding: 0 10rem;
    
  }

}
.navbar-button {
    margin:0;
    flex: 1;
    height: 100%;
}

.navbar-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
