* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  min-height: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-image: url(../images/bg.png), $bg-gradient;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive(desktops){
    background-image: url(../images/bg@2x.png), $bg-gradient;
  }
}

#home {
  padding: 3rem 1rem 8rem 1rem;
  @include responsive(desktops) {
    margin: 1rem;
  }
}

.logo {
  padding: 0 1rem;
  width: 80%;
  margin: 0 auto;

  & img {
    width: 100%;
  }
  @include responsive(desktops) {
    width: 30%;
  }
  @include responsive(laptos-sm-desktops) {
    width: 50%;
  }
  @include responsive(tablets-ipads) {
    width: 60%;
  }
  @include responsive(tablets-ipads-landscape) {
    width: 40%;
  }

  @include responsive(low-resolution-tablets-mobiles-landscape) {
    
    width: 25%;
  }
  @include responsive(smartphones-general) {
    width: 100%;
  }
  @include responsive(small-smartphones){
    width: 75%;
  }
  @include responsive(small-smartphones-landscape){
    width: 30%;
  }
}

.info {
  text-align: center;

  &__title {
    font-size: 1.1rem;
    margin: 1rem 0 3rem 0;
    position: relative;

    @include responsive(low-resolution-tablets-mobiles-landscape){
      margin: 1rem 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 2px;
      background: $color-purple;
    }
  }

  &__body {
    margin: 2rem 0 3rem 0;
    @include responsive(low-resolution-tablets-mobiles-landscape){
      margin: 3rem 0 3rem 0;
    }

    & > * {
      margin: 1.5rem 0rem;
      padding: 0 1rem;
      @include responsive(desktops) {
        margin: 2rem;
      }
      @include responsive(laptos-sm-desktops) {
      }
      @include responsive(tablets-ipads) {
        margin: 3rem;
      }
      @include responsive(tablets-ipads-landscape) {
        margin: 2rem;
      }

      @include responsive(low-resolution-tablets-mobiles-landscape) {
        margin: 0.5rem;
      }
      @include responsive(smartphones-general) {
      }

      @include responsive(low-resolution-tablets-mobiles-landscape){
        margin: .8rem;
      }
  
    }
  }
  &__button-start {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
  }
}
