.terminos-condiciones-container{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    font-size: 1.20rem;
    line-height: 18px;
    color:rgba(2,2,2,0.87);
    box-sizing: border-box;
    padding: 2.5rem 2.5rem 10rem 2.5rem;
    & ul li::first-letter{
        font-weight: bolder;
    }

    @include responsive(tablet){
        line-height: 25px;
    }
}
